build-XdfStreamer*/
XdfStreamer/XdfStreamer.pro.user*
/cmake-build-*
/.idea
/build
/.vs
CMakeSettings.json
/out
XdfStreamer/build/Unnamed-Debug
build.7z
desktop.ini
XdfStreamer/.idea
App-XDFStreamer.7z
build_2025-01-05.7z
XdfStreamer/_BAK_xdfstreamer.ui
EXTERNAL/pugixml/build